<MakeItSo>
  
  <!-- Settings that apply to all projects in the solution -->
  <AllProjects>

  </AllProjects>

  <!-- Settings for specific named projects -->
  <Project name="robot">
		<AddIncludePath configuration="Debug" path="./" absolute="true"/>
		<AddIncludePath configuration="Debug" path="~/include" absolute="true"/>
		<AddIncludePath configuration="Debug" path="/usr/include" absolute="true"/>
		<AddIncludePath configuration="Debug" path="/usr/local/include/SDL2" absolute="true"/>
		
		<AddIncludePath configuration="Release" path="./" absolute="true"/>
		<AddIncludePath configuration="Release" path="~/include" absolute="true"/>
		<AddIncludePath configuration="Release" path="/usr/include" absolute="true"/>
		<AddIncludePath configuration="Release" path="/usr/local/include/SDL2" absolute="true"/>
		
		<AddLibraryPath configuration="Debug" path="./" absolute="true"/>
		<AddLibraryPath configuration="Debug" path="./lib" absolute="true"/>
		<AddLibraryPath configuration="Debug" path="~/lib" absolute="true"/>
		<AddLibraryPath configuration="Debug" path="/lib" absolute="true"/>
		<AddLibraryPath configuration="Debug" path="/usr/lib" absolute="true"/>
		<AddLibraryPath configuration="Debug" path="/usr/local/lib" absolute="true"/>
		<AddLibraryPath configuration="Debug" path="/usr/local/lib" absolute="true"/>
		<AddLibraryPath configuration="Debug" path="/usr/lib/arm-linux-gnueabihf" absolute="true"/>
		
		<AddLibraryPath configuration="Release" path="./" absolute="true"/>
		<AddLibraryPath configuration="Release" path="./lib" absolute="true"/>
		<AddLibraryPath configuration="Release" path="~/lib" absolute="true"/>
		<AddLibraryPath configuration="Release" path="/lib" absolute="true"/>
		<AddLibraryPath configuration="Release" path="/usr/lib" absolute="true"/>
		<AddLibraryPath configuration="Release" path="/usr/local/lib" absolute="true"/>
		<AddLibraryPath configuration="Release" path="/usr/local/lib" absolute="true"/>
		<AddLibraryPath configuration="Release" path="/usr/lib/arm-linux-gnueabihf" absolute="true"/>
		
		<AddCompilerFlag configuration="Debug" flag="-std=c++11"/>
		<!-- <AddCompilerFlag configuration="Debug" flag="-fpermissive"/> -->
		<PrecompiledHeader configuration="Debug" value="stdafx.h" />
		
		<AddCompilerFlag configuration="Release" flag="-std=c++11"/>
    <!-- <AddCompilerFlag configuration="Release" flag="-fpermissive"/> -->
		<PrecompiledHeader configuration="Release" value="stdafx.h" />
		
		<!-- -I./ -I~/include -I/usr/include -I/usr/local/include/SDL2 -->    
		<!-- L./ -L./lib -L~/lib -L/lib -L/usr/lib -L/usr/local/lib -L/usr/lib/arm-linux-gnueabihf -->
		<!-- -std=c++11 -->
  </Project>

  <IgnoreProject project="MakeItSo"/>
  <IgnoreProject project="SolutionParser_VS2008"/>
  <IgnoreProject project="SolutionParser_VS2010"/>
  <IgnoreProject project="SolutionParser_VS2012"/>
  <IgnoreProject project="TestRunner"/>


</MakeItSo>